<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/intermediari/function/praticaF/exerciciosF/assets/style/f1.css">
    <script src="/intermediari/function/praticaF/exerciciosF/assets/controller/f1.js"></script>
    <title>Questão - 1</title>
</head>
<body>
    <main>
        <h1>Conversão de Temperatura</h1>
        <div class="cont">
            <table>
                <tr>
                    <td colspan="2"><input type="text" name="val" id="display"></td>
                </tr>
                <tr id="conv">
                    <td><button class="op cel">celsius</button></td>
                    <td><button class="op far">farenheit</button></td>
                </tr>
            </table>
        </div>
    </main>
</body>
</html>